

body{
    font-family: Tahoma;
    font-size: 13px;
    width:auto;
    margin: 0 auto;   
}
#menu{
    background-color:rgb(54, 54, 175);
    height: 40px;
    width:auto;
}
#menu #search{
    float: right;
}
#main #left{
    background-color: rgb(251, 255, 253);
    width: 70%;
    float: left;
    min-height: 1000px;
    padding-left: 80px;
}
#main #left ul{
    padding-left: 10px;
    margin: 0px;
}

#main #left ul li{
    list-style: none;
    clear: left;  
    margin-bottom: 10px;
    border: 1px dotted;
}

#main #left img{
    float: left;
    margin: 5px;
}

#main #left h1{
    font-size: 18px;
    border-bottom: 1px solid ;    
}
#main #left .truyen{
    list-style: none;
    clear: left;  
    margin-bottom: 10px;
    border: 1px dotted;
    padding: 2px;
}
#main #left .truyen .avt{
    max-height: 100%;
    max-width: 100%;  
}
#main #left .truyen h3{
    margin-top: 5px;    
}
#main #left .truyen a{
    text-decoration: none;
    font-family: inherit;
    color: #217bf2;
}
.pagination{
    padding-left: 360px;
}
/* thiết lập style cho thẻ a */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
 /* thiết lập style cho class active */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
 /* thêm màu nền khi người dùng hover vào class không active */
  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }
#main #right .menu_right {
    background-color: rgb(216, 248, 233);
    width: 300px;
    float: left;
    min-height: 400px;
    margin-top: 33px;
    margin-left: 10px;
}
#main #right .menu_right ul{
    margin: 0px;
    padding: 0px;
}
#main #right .menu_right #menu1{
    float: left;
    margin-left: 30px;
}
#main #right .menu_right #menu1 ul li{
    list-style: none;
    padding-bottom: 8px; 
}
#main #right .menu_right #menu2{
    float: left;
    margin-left: 40px;
}
#main #right .menu_right #menu2 ul li{
    list-style: none;
    padding-bottom: 5px;
}
#main #right .menu_right ul li a{
    
    display: block;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}
#main #right .menu_right h3{
    text-align: center;
    font-size: 16px;
}
#main #right #right2 #truyenhot{
    text-align: center;
    font-size: 18px;
    color: #f35a3f;
    background-color: #a0c3f6;
    letter-spacing: .05em;
    text-shadow: 1px 1px 0px #84d1f2, 1px 1px 0px rgba(0, 0, 0, 0.2);
    height: 30px;
    padding-top: 5px;
}
#main #right #right2 {
    background-color: rgb(251, 255, 253);
    width: 300px;
    float: left;
    min-height: 400px;
    margin-left: 10px;
}
#main #right #right2 .row-top .row-top-item .top-1{
    border-bottom: 1px dotted;
    padding: 0px;
    margin: 0px;
}
#main #right #right2 .row-top .row-top-item .top-1 .top1{ 
    color: #fff;
    border: #e74c3c solid 1px;
    background-color: #e74c3c;
    float: left;
    margin: 8px 10px 10px 0;
    width: 31px;
    height: 31px;
    border: #cbcbcb solid 1px;
    text-align: center;
    line-height: 29px;
    font-weight: 700;
    border-radius: 16px;
    display: block;
}
#main #right #right2 .row-top .row-top-item .top-1 .title h3 a{
    color: #064f98;
    font-size: 15px;
    font-family: 'Roboto Condensed',Tahoma,sans-serif;
    text-decoration: none;
}
#main #right #right2 .row-top .row-top-item a{
    color: #0b5094;
    font-size: 12px;
    font-family: 'Roboto Condensed',Tahoma,sans-serif;
    text-decoration: none; 
}    

#main #right #right2 .row-top .row-top-item .top-2{
    border-bottom: 1px dotted;
    padding: 0px;
    margin: 0px;
}
#main #right #right2 .row-top .row-top-item .top-2 .top2{ 
    color: #fff;
    border: #04ed69 solid 1px;
    background-color: #0df53f;
    float: left;
    margin: 8px 10px 10px 0;
    width: 31px;
    height: 31px;
    border: #cbcbcb solid 1px;
    text-align: center;
    line-height: 29px;
    font-weight: 700;
    border-radius: 16px;
    display: block;
}
#main #right #right2 .row-top .row-top-item .top-2 .title h3 a{
    color: #064f98;
    font-size: 15px;
    font-family: 'Roboto Condensed',Tahoma,sans-serif;
    text-decoration: none;
}
#main #right #right2 .row-top .row-top-item .top-3{
    border-bottom: 1px dotted;
    padding: 0px;
    margin: 0px;
}
#main #right #right2 .row-top .row-top-item .top-3 .top3{ 
    color: #fff;
    border: #d2f282 solid 1px;
    background-color: #d0fa5e;
    float: left;
    margin: 8px 10px 10px 0;
    width: 31px;
    height: 31px;
    border: #cbcbcb solid 1px;
    text-align: center;
    line-height: 29px;
    font-weight: 700;
    border-radius: 16px;
    display: block;
}
#main #right #right2 .row-top .row-top-item .top-3 .title h3 a{
    color: #064f98;
    font-size: 15px;
    font-family: 'Roboto Condensed',Tahoma,sans-serif;
    text-decoration: none;
} 
#main #right #right2 .row-top .row-top-item .top-4{
    border-bottom: 1px dotted;
    padding: 0px;
    margin: 0px;
}
#main #right #right2 .row-top .row-top-item .top-4 .top4{ 
    color: rgb(0, 0, 0);
    border: #d2f282 solid 1px;
    background-color: #fdfdfd;
    float: left;
    margin: 8px 10px 10px 0;
    width: 31px;
    height: 31px;
    border: #cbcbcb solid 1px;
    text-align: center;
    line-height: 29px;
    font-weight: 700;
    border-radius: 16px;
    display: block;
}
#main #right #right2 .row-top .row-top-item .top-4 .title h3 a{
    color: #064f98;
    font-size: 15px;
    font-family: 'Roboto Condensed',Tahoma,sans-serif;
    text-decoration: none;
} 
#footer {
    background-color: rgb(235, 235, 235);
    width: auto;
    text-align: center;
    height: 55px;
    clear: left;
    line-height: 60px;
    padding-top: 0px;
}
#menu ul{
    margin: 0px;
    padding: 0px;
}
#menu li{
    list-style: none;
    float: left;
}
#menu ul li a{
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    padding: 0px 10px 10px 10px;
    inline-size: auto;
}
#menu img{
    width: 40px;
}
input[type="text"] {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    padding: 10px 10px 10px 0px;
    transition:0.6s ease-in-out;
  }
  input[type="text"]:focus{
    width:500px; 
}



